/* =========================================
   1. VARIABLES Y COLORES DE MARCA
   ========================================= */
:root {
    --strava-orange: #e87019; /* Tu color principal original */
    --dark-bg: #425957;       /* Fondo oscuro */
}

/* Cambia el color del texto del logo en la barra superior */
.navbar-brand {
    color: var(--strava-orange) !important;
}

/* =========================================
   2. DETALLES PERSONALIZADOS (LOGIN)
   ========================================= */
/* Recuperamos tu fondo degradado original para el login */
.bg-login-custom {
    background-color: var(--dark-bg);
    background-image: linear-gradient(45deg, #c1a700 0%, #464e52 100%);
}

/* Recuperamos la línea naranja arriba de tu tarjeta de login */
.card-login-custom {
    border-top: 5px solid var(--strava-orange) !important;
}
/* =========================================
   3. ANIMACIONES
   ========================================= */
.animacion-entrada {
    animation: deslizarArriba 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    opacity: 0;
    transform: translateY(40px);
}

@keyframes deslizarArriba {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
